{{#each administration in strategies.model}}
    {{#view App.StrategyTabPaneView id=administration.id firstObject=strategies.model.firstObject administration_id=administration.id}}
        <div>
            <div {{bind-attr style=administration.shadedTabStyle}}></div>
            <div {{bind-attr style=administration.tabStyle}}></div>
        </div>
        <br>
        {{#each theme in model}}
            <div class="strategies-theme panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"  href="#{{unbound administration.id}}{{unbound theme.id}}"> <!-- use the administration id with the theme id -->
                            {{theme.definition}}<span class="badge pull-right">0</span>
                        </a>
                    </h4>
                </div>
                <div id="{{unbound administration.id}}{{unbound theme.id}}" class="panel-collapse collapse out">
                    <div class="strategy-administration panel-body">
                        {{#each focusarea in theme.focusareas}}
                            {{render 'administration/strategy' focusarea}}
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    {{/view}}
{{/each}}
