<div class="">
    <div class="col-md-6 col-md-offset-3">
        <form role="form-control">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Redigere forvaltningen
                </div>
                <div class="panel-body">
                    {{x-notify}}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Navn</label>
                        {{input type="text" class="form-control" value=name id="name" placeholder="Navn..."}}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Farve</label>
                        {{input type="text" class="form-control" value=color id="color" placeholder="Farve..."}}
                    </div>
                </div>
                <div class="panel-footer">
                    <button {{action update}} class="update-button btn btn-default">Opdatere</button>
                    <button data-toggle="modal" data-target="#delete-administration" class="btn btn-default">Slet</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="delete-administration" role="dialog" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:400px">
        <div class="modal-content"  style="width:400px">
            <div class="modal-header modal-warning">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Slet</h4>
            </div>
            <div class="modal-body">
                <p>Er du sikker at du vil gerne slette {{name}}</p>
            </div>
            <div class="modal-footer">
                <button {{action "delete"}} data-dismiss="modal" class="delete-button btn btn-danger">Slet</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuller</button>
            </div>
        </div>
    </div>
</div>