<div class="container">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                {{#link-to 'index' class="navbar-brand title-link"}}{{t application.title}}{{/link-to}}
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>{{#link-to 'index' class="index-link"}}{{t application.navbar.index}}{{/link-to}}</li>
                    <li>{{#link-to 'strategies' class="strategies-link"}}{{t application.navbar.strategies}}{{/link-to}}</li>
                    <li>{{#link-to 'administrations' class="administrations-link"}}{{t application.navbar.administrations}}{{/link-to}}</li>
                    <li>{{#link-to 'themes' class="themes-link"}}{{t application.navbar.themes}}{{/link-to}}</li>
                    <li>{{#link-to 'about' class="about-link"}}{{t application.navbar.about}}{{/link-to}}</li>
                </ul>
            </div>
        </div>
    </div>
    {{outlet}}
</div>
<div id="footer">
    <div class="container">
        <div class="container-fluid">
            <p class="text-muted">{{t application.footer.organization}}</p>
        </div>
    </div>
</div>
