<div class="panel-body" >
    <form role="form-control">
        <div class="panel panel-info">
            <div class="panel-heading">
                {{t focusareas.edit.heading}}
            </div>
            <div class="panel-body">
                {{x-notify}}
                <div class="form-group">
                    <label>{{t focusareas.edit.name}}</label>
                    {{textarea class="form-control" value=definition id="definition" rows="6" placeholder="Beskrivelse..."}}
                </div>
            </div>
            <div class="panel-footer">
                <button {{action update}} class="update-button btn btn-default">{{t focusareas.edit.update}}</button>
                <button data-toggle="modal" data-target="#delete-definition" class="btn btn-default">{{t focusareas.edit.delete}}</button>
                <button {{action cancel}} class="cancel-button btn btn-default">{{t focusareas.edit.cancel}}</button>
            </div>
        </div>
    </form>
</div>

<div id="delete-definition" role="dialog" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:400px">
        <div class="modal-content"  style="width:400px">
            <div class="modal-header modal-warning">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{t focusareas.edit.delete}}</h4>
            </div>
            <div class="modal-body">
                <p>{{t focusareas.edit.modal.info nameBinding="definition"}} </p>
            </div>
            <div class="modal-footer">
                <button {{action delete}} data-dismiss="modal" class="delete-button btn btn-danger">{{t focusareas.edit.delete}}</button>
                <button class="cancel-button btn btn-default" data-dismiss="modal">{{t focusareas.edit.cancel}}</button>
            </div>
        </div>
    </div>
</div>