<div>
    {{#link-to 'focusareas.new' class="add-focusarea btn btn-primary"}}
        {{t focusareas.index.add}}
    {{/link-to}}
</div>
<br/>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{t focusareas.index.definition}}</th>
                <th>{{t focusareas.index.theme}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each focusarea in model}}
                <tr>
                    <td class="focusarea-definition">
                        {{#link-to 'focusareas.edit' focusarea}}
                            {{focusarea.definition}}
                        {{/link-to}}
                    </td>
                    <td class="focusarea-theme">
                        {{#link-to 'themes' theme}}
                            {{theme.definition}}
                        {{/link-to}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
