<div class="panel panel-default">
    <div class="panel-heading">
        <div>
            <h4>
                {{t graph.heading}} <span {{action loadStrategies}} style="cursor:pointer; background-color: #C4CEDD;" class="badge">{{unbound selectedStrategiesCount}}</span>
            </h4>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-8">{{x-graph data=dataSet}}</div>
        <div class="col-md-4">
            {{x-graph-summary dataSet=dataSet}}
        </div>
    </div>
</div>
