<div class="panel panel-default">
    <div class="panel-heading">
        <div>
            <h4>
                {{t graph.heading}} <span {{action loadStrategies}} style="cursor:pointer; background-color: #C4CEDD;" class="badge">{{unbound selectedStrategiesCount}}</span>
            </h4>
        </div>
    </div>
    <div class="panel-body">
        {{textarea value=data cols="80" rows="6"}}
        <br>
        {{x-graph data=data}}
    </div>
</div>
