{{x-notify}}
<div class="panel panel-default">
    <div class="panel-heading">
        <div>
            <h4>
                {{t strategies.index.heading}}
            </h4>
        </div>
    </div>
    <div class="panel-body">
        <ul class="strategies-administrations-tabs nav-justified nav nav-tabs" role="tablist">
            {{#each administration in model}}
                {{#link-to 'strategies.administration' administration.id tagName="li" href=false}}
                    {{#view App.StrategyTabAnchorView administration_id=administration.id}}
                        {{administration.name}}
                    {{/view}}
                    <div>
                        <div {{bind-attr style=administration.shadedTabStyle}}></div>
                        <div {{bind-attr style=administration.tabStyle}}></div>
                    </div>
                {{/link-to}}
            {{/each}}
        </ul>
        <div class="tab-content">
            <br> <!-- Remove the active and toggle the tab when the tab-nav gets clicked -->
            {{#each administration in model}}
                <div class="strategies-administrations-tab tab-pane fade in" {{bind-attr id=administration.id}}>
                    {{outlet}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
