<div class="">
    <div class="col-md-6 col-md-offset-3">
        <form role="form-control">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{t themes.edit.heading}}
                </div>
                <div class="panel-body">
                    {{x-notify}}
                    <div class="form-group">
                        <label>{{t themes.edit.name}}</label>
                        {{textarea class="form-control" value=definition id="definition" rows="6" placeholder="Beskrivelse..."}}
                    </div>
                </div>
                <div class="panel-footer">
                    <button {{action update}} class="update-button btn btn-default">{{t themes.edit.update}}</button>
                    <button data-toggle="modal" data-target="#delete-definition" class="btn btn-default">{{t themes.edit.delete}}</button>
                    <button {{action cancel}} class="cancel-button btn btn-default">{{t themes.edit.cancel}}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="delete-definition" role="dialog" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="width:400px">
        <div class="modal-content"  style="width:400px">
            <div class="modal-header modal-warning">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{t themes.edit.delete}}</h4>
            </div>
            <div class="modal-body">
                <p>{{t themes.edit.modal.info nameBinding="definition"}} </p>
            </div>
            <div class="modal-footer">
                <button {{action delete}} data-dismiss="modal" class="delete-button btn btn-danger">{{t themes.edit.delete}}</button>
                <button class="cancel-button btn btn-default" data-dismiss="modal">{{t themes.edit.cancel}}</button>
            </div>
        </div>
    </div>
</div>