<form role="form-control">
    <div class="panel panel-info">
        <div class="panel-heading">
            {{t themes.new.heading}}
        </div>
        <div class="panel-body">
            {{x-notify}}
            <div class="form-group">
                <label>{{t themes.new.definition}}</label>
                {{textarea class="form-control" value=definition id="definition" rows="6" placeholder="Inhold..."}}
            </div>
        </div>
        <div class="panel-footer">
            <button {{action submit}} class="submit-button btn btn-default">{{t themes.new.create}}</button>
            <button {{action cancel}} class="cancel-button btn btn-default">{{t themes.edit.cancel}}</button>
        </div>
    </div>
</form>